body{
    background-color: rgb(0, 153, 255);
color:rgb(255, 127, 197);

  font-family: "Roboto Mono", monospace;
margin:0px;

  
}
header{
  
   border-bottom:dashed 5px #E6E6FA;
    padding:30px;
    color:rgb(231, 17, 17);

}